<h1><%= @listing.title %></h1>

<form action="<%= host_listing_path(@listing) %>" method="post">
  <input type="hidden" name="authenticity_token" value="9JaubNOnBLl1Hh_h5dnLiV5sSUXKCkmVAgkYxs5Ysh8gIMfzaN8jwpu2cxws8moTT7KqbyLIH_kN7NhpU2DGbg">
  <input type="hidden" name="_method" value="PUT">

  <div class="field">
    <label for="title"></label>
    <br>
    <input type="text" name="listing[title]" id="title" value="<%= @listing.title %>">
  </div>

  <br>
  <div class="field">
    <label for="about"></label>
    <br>
    <textarea name="listing[about]" id="about" cols="30" rows="10"><%= @listing.about %></textarea>
  </div>

  <br>
  <div class="field">
    <label for="max_guests"></label>
    <br>
    <input type="text" name="listing[max_guests]" id="max_guests" value="<%= @listing.max_guests %>">
  </div>

  <br>
  <button type="submit">Submit</button>
</form>
